.contact_ttl {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.kensaku_table{
 height: 200px;
 position: relative;
}

.kensaku{
  max-width: 800px;
  position: relative;
  margin: 50px auto;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: left;
  border: solid 1px black;
  border-radius: 10px;
}

.name_form{
  width: 100px;
}

tr {
  padding-bottom: 15px;
}

th {
  padding-left: 20px;
  width: 150px;
  text-align: left;
}

td {
  width: 9%;
}

.kensaku_btn{
    width: 150px;
    display: block;
    padding: 10px 0 10px;
    margin: 0 auto;
    background: black;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: relative;
  }

  a{
    width: 150px;
    display: block;
    padding: 25px 0 25px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
    position: relative;
    text-align: center;
  }

  .result{
    display:block;
    position: absolute;
    left: 25%;
  }

  .result_table_head{
    border-bottom:solid 1px black;
  }

  svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
  }